@tailwind base;
@tailwind components;
@tailwind utilities;

.per-info {
  .entry {
    //width: 540px;
  }
}

.numbers {

  .number {
    margin-right: 3px;

    &.event-info {

    }

    &.per_number {
      color: red;
    }

    &.bonus_number {
      color: blue;
    }
  }
}

.form-control {
  min-width: 350px;
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */

  .input-group {

    .input-label {
      display: none;
    }

    .input-bordered {
      border-top-left-radius: var(--rounded-btn, 0.5rem);
      border-bottom-left-radius: var(--rounded-btn, 0.5rem);
    }

    .event_date-container {
      width: 250px;
    }

    &.per-numbers, &.bonus-numbers {
      display: block;
      input {
        margin-bottom: 5px;
        border-top-left-radius: var(--rounded-btn, 0.5rem);
        border-bottom-left-radius: var(--rounded-btn, 0.5rem);
        border-top-right-radius: var(--rounded-btn, 0.5rem);
        border-bottom-right-radius: var(--rounded-btn, 0.5rem);
      }
    }

    .error-msg {
      background-color: transparent;
      color: red;
    }

  }


}

@media (min-width: 640px) {
  .form-control {
    min-width: 350px;
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */

    .input-group {
      .input-label {
        display: flex;
        width: 130px;
        height: 48px;

        &.carry_over {
          width: 200px;
        }
      }

      .input-bordered {
        border-radius: 0;
      }

      .event_date-container {
      }

      .datefield {
        border-top-left-radius: 0;
        border-top-right-radius: var(--rounded-btn, 0.5rem);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: var(--rounded-btn, 0.5rem);
      }

      .per-number, .win-unit {
        width: 100px;

        &.rounded-r {
          border-top-left-radius: 0;
          border-top-right-radius: var(--rounded-btn, 0.5rem);
          border-bottom-left-radius: 0;
          border-bottom-right-radius: var(--rounded-btn, 0.5rem);
        }
      }

      &.per-numbers, &.bonus-numbers {
        display: flex;
        input {
          margin-bottom: 5px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          &:last-child {
            border-top-right-radius: var(--rounded-btn, 0.5rem);
            border-bottom-right-radius: var(--rounded-btn, 0.5rem);
          }
        }
      }

    }
  }
}


.sp-item {
  .per_number {
    color: red;
    text-align-last: justify;
  }

  .bonus_number {
    color: blue;
    text-align-last: justify;
  }
}
